  <h4> edit apartment page </h4>


 User: <%= current_user.name %>
 
<form action="/apartments/<%=@apartment.id%>" method="Post">

     <input type="hidden" name="_method" value="patch">

        <h3>Edit apartment: <input type="text" name="location" id="apartment_location" value="<%= @apartment.location%>"> </h3>

        <input type="submit" value="submit">

   </form>
