  <h4>  All apartments locations </h4>
  <%if logged_in?%>
     
     <h2>Welcome: <%= current_user.name %></h2>
      <%@apartments.each do |apartment| %>
        <a href="/apartments/<%=apartment.id%>"><h3> Apartment-location:  <%=apartment.location%> </h3> </a>
      <%end%>

  <%else%>
      <%'/login'%>
  <%end%>

<br>

<h4>Create a New Apartment</h4>
    <a href="/apartments/new">Create New Apartment</a>
<br>
</br>
  <a href="/logout">Log Out</a>
